<div class="product thumbnail">
  <img :src="product.img" />
  <div class="caption">
    <h4>{{product.title}}</h4>
    <p>{{product.description}}</p>
    <p class="price">{{product.price}}{{product.currency}}</p>
    <p><b>Quantity:</b></p>
    <select class="form-control"
            @change="$emit('quantityChange', {quantity: $event.target.value, product} )"
            name="quantity"
            :value="product.quantity">
      <option>0</option>
      <option v-for="n in 10">{{n}}</option>
    </select>
  </div>
</div>

